@model PJ01.Core.ViewModels.Requests.Students.EditViewModel

@{
    ViewData["Title"] = "Detail";
}

<div class="row d-flex justify-content-center mt-lg-5">
    <div class="col-4">
        <h3 class="text-center">Details</h3>
        <hr />
        <form method="post" id="formEditStudent">
            <input type="hidden" asp-for="Id" />
            <!-- Fullname input -->
            <div class="col-auto">
                <label class="form-label" asp-for="FullName"></label>
                <input type="text" asp-for="FullName" class="form-control" />
            </div>

            <!-- Date of birth input -->
            <div class="col-auto">
                <label class="form-label" asp-for="Dob"></label>
                <input asp-for="Dob" class="form-control" />
            </div>

            <!-- Phone number input -->
            <div class="col-auto">
                <label class="form-label" asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>

            <!-- Address input -->
            <div class="col-auto">
                <label class="form-label" asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
            </div>

            <!-- Submit button -->
            <div class="form-group d-flex justify-content-between mt-4">
                <button type="button" class="btn bg-secondary" id="btnPrevious" data-mdb-ripple-init>Back</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(() => {
            $('#btnPrevious').on('click', () => {
                window.location = '@Url.Action("Index", "Students")';
            })
        })
    </script>
}